# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=redis

# PostgreSQL
DB_CONNECTION=pg
DB_HOST=localhost
DB_PORT=5433
DB_USER=fluxpay
DB_PASSWORD=fluxpay
DB_DATABASE=fluxpay

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=

# SMTP / Mailpit
MAIL_MAILER=smtp
MAIL_FROM_ADDRESS=notificacoes@fluxpay.local
MAIL_FROM_NAME=FluxPay
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
